.barra-total-fixa {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 550px;
    background-color: #FFD1D1;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    z-index: 999;
}

.conteudo-barra {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    text-align: left;
}