.home-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff5f5; /* Um tom bem clarinho de rosa/creme */
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.home-content h1 {
    font-size: 3.5rem;
    color: #f27a7a; /* O mesmo rosa do líquido */
    margin-bottom: 10px;
}

.home-content p {
    color: #666;
    margin-bottom: 30px;
}

.btn-começar {
    padding: 15px 40px;
    font-size: 1.2rem;
    background-color: #f27a7a;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    font-weight: bold;
}

.btn-começar:hover {
    background-color: #ff9494;
    transform: scale(1.05);
}